.dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.side-dashboard {
    background-color: #252636;
    width: 15%;
}

.user-avatar {
    margin: 10px;
    border: 1px solid black;
    padding: 4px;
}

.user-avatar h3 {
    margin-bottom: 4px;
}


.section-dashboard {
    width: 85%;
}