.flex-container {
    display: flex;
    padding: 5% 10%;
}

.flex-container>div {
    width: 100%;
}

.about-us-left {
    position: relative;
}

.image-primary {
    width: 100%;
}

.image-secondary {
    width: 55%;
    position: absolute;
    border: 7px solid #fff;
    z-index: 9;
    bottom: -50px;
    left: 56%;
    bottom: -16%;
}

.about-us-content {
    padding: 5rem;
    line-height: 1.6;
    text-align: justify;
}

.about-us-content p strong {
    color: red;
}