@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.background-login {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Assets/images/person.jpg");
	background-size: cover;
	background-position: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;

}

.main-container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
	overflow: hidden;
	max-width: 100%;
	min-height: 480px;
	display: flex;
	flex-direction: row;
}

.btn1 {
	border-radius: 20px;
	border: 1px solid #F2eee3;
	background-color: #F2eee3;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 25px 0px 20px;
	border-color: red;
}

.btn1:active {
	transform: scale(0.95);
}

.btn1:focus {
	outline: none;
}

.btn1.ghost {
	background-color: transparent;
	border-color: red;
}

.form-container input {
	background-color: #f2eee3;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.form-container h1 {
	margin: -13px 0px 50px 0px;
}

/* .form-container h1,
.form-container p,
.form-container button {
	margin-bottom: 3%;
} */

.form-container {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
	width: 30vw;
}

.overlay-container {
	background: linear-gradient(to right, #F2eee3, #e7d4c5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay-panel {
	text-align: center;
	letter-spacing: 0.5px;

}

.overlay-panel p {
	margin: 20px 0 30px;
	font-size: 20px;
	font-weight: 300;
	line-height: 20px;
	text-align: center;
	margin: 10%;
}