.room-section {
    padding: 2% 10% 5%;
    background-color: #dee2e6;
}

.room-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    flex: 0 0 50%;
    max-width: 50%;
}

.room-header>h1 {
    font-size: 40px;
    position: relative;
    font-family: cursive;
}

.room-header>h1::after {
    content: '';
    width: 104px;
    height: 7px;
    position: absolute;
    background: black;
    bottom: -8px;
    left: 236px;
    border-radius: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 3rem;
    row-gap: 2rem;
}

.card-column {
    border-radius: 2px;
    overflow: hidden;
    background-color: #f1f3f5;
    max-width: 400px;
    box-shadow: none;
    text-decoration: none;
    color: black;
}

.card-column figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.card-column img {
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}

.card-column img:hover,
.card-column img:focus {
    transform: scale(1.1);
}

.card-room-body {
    padding: 24px;
    line-height: 1.5rem;
}

.card-room-body h3 {
    margin: 0 0 18px 0;
    letter-spacing: 0.006em;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: transform 0.4s ease-in-out;
    font-family: "Bebas Neue", cursive;
}

.card-room-body p {
    text-align: justify;
}

.card-column:hover h3 a,
.card-column:focus h3 a {
    color: black;
}

.small-star {
    color: gold;
    font-size: 16px;
}