.room-section {
    padding: 2% 10%;
    background-color: #f8f9fa;
}

.room-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    flex: 0 0 50%;
    max-width: 50%;
}

.room-header>h1 {
    font-size: 40px;
    position: relative;
    font-family: cursive;
}

.room-header>h1::after {
    content: '';
    width: 104px;
    height: 7px;
    position: absolute;
    background: black;
    bottom: -8px;
    left: 236px;
    border-radius: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 3rem;
    row-gap: 2rem;
}

.card-column {
    border-radius: 2px;
    overflow: hidden;
    background-color: white;
    max-width: 400px;
    box-shadow: none;
    text-decoration: none;
    color: black;
}

.card-column figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.card-column img {
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}

.card-column img:hover,
.card-column img:focus {
    transform: scale(1.1);
}

.card-room-body {
    padding: 24px;
    line-height: 1.5rem;
}

.card-room-body h3 {
    margin: 0 0 18px 0;
    letter-spacing: 0.006em;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: transform 0.4s ease-in-out;
    font-family: "Bebas Neue", cursive;
}

.card-room-body p {
    text-align: justify;
}


.card-column:hover h3 a,
.card-column:focus h3 a {
    color: black;
}

.small-star {
    color: gold;
    font-size: 16px;
}

/* main {
    margin-top: 3%;
    background-color: #f8f9fa
}

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    flex: 0 0 50%;
    max-width: 50%;
}

.card-header>h1 {
    font-size: 40px;
    position: relative;
    font-family: cursive;
}

.card-header>h1::after {
    content: '';
    width: 104px;
    height: 7px;
    position: absolute;
    background: black;
    bottom: -8px;
    left: 236px;
    border-radius: 10px;
}

.card-column {
    margin-bottom: 3rem;
    padding-right: 15px;
    padding-left: 15px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.hotel-room {
    transition: .3s ease-in-out;
    background: #fff;
    text-align: center;
    

}


.hotel-room >img:hover{
    transition: 0.6s ease-in-out;
    transform: scale(1.1);
} 

.hotel-room>a img {
    transition: 0.3s all ease;
    transform: scale(1.02);
}


.hotel-room>a {
    overflow: hidden;
    margin-bottom: 0;
    text-decoration: none;
    background-color: transparent;
}

.hotel-room a>img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.hotel-room a>img:hover {
    transform: .3s all ease;
    transform: scale(1.1);
}

.hotel-room-body {
    padding: 30px;
    text-align: center;
}

.hotel-room-body>h3 {
    
    font-size: 20px;
    margin-bottom: 0;
    line-height: 1.7;
}

.hotel-room-body h3 a {
    text-decoration: none;
    color: #000;
}

.hotel-room-body>strong {
    color: #5c7893;
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
    line-height: 1.7;
}




 */